@import '../../../../styles/variables.scss'; 

.this__day {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background : var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin-right: 15px;
}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    img {
        width: 119px;
        height: 119px;
    }
    svg {
        width: 119px;
        height: 119px;
    }
    .this__temp {
        font-size: 96px;
        color: $blueColor;
        font-weight: 500;
    }
    .this__day_name {
        font-size: 40px;
        color: var(#{--text-color-default});
    }
}


.bottom__block {
    .this__time, .this__city {
        color: $greyColor;
        font-size: 23px;
        padding-bottom: 10px;
    }
}

@media (max-width: 750px) {
    .this__day {
        max-width: 660px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    
}