@import '../../../styles/variables.scss';
@import '../../../styles/index.scss'; 





.closeB {
    position: absolute;
    top: 20px;
    right: 20px;

    svg {
        transition: .3s;
        cursor: pointer;
    }

    &:hover {
        svg {
            transform: rotate(360deg);
        }
    }
}

.day {
    display: flex;
    flex-direction: column;

    &__temp {
        font-size: 60px;
        font-weight: 500;
        color: $blueColor;
        margin-bottom: 12px;
    }

    &__name {
        line-height: 30px;
        font-size: 25px;
        margin-bottom: 12px;
        color: var(#{--text-color-default})
    }

    &__img {
        margin-bottom: 12px;
        img {
            width: 60px;
            height: 60px;
        }
        svg {
            width: 60px;
            height: 60px;
        }
    }

    &__time {
        margin-bottom: 5px;
    }

    &__time,
    &__city {
        font-size: 15px;
        color: $greyColor;
    }
}

// ----------------------------------