@import '../../../../styles/variables.scss';

.days { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 0 0 $border-radius $border-radius;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(71,147,255,.2);
    border-radius: 10px;
    width: 149px;
    transition: .3s;
    cursor: pointer;
    .day { 
        margin-bottom: 7px;
        font-size: 18px;
    }
    .day_info {
        color: $greyColor;
        font-size: 14px;
        margin-bottom: 12px;
    }
    .img {
        margin-bottom: 12px;
        img {
            width: 48px;
            height: 48px;
        }
    }
    .temp_day {
        font-size: 18px;
        font-weight: medium;
    }   
    .temp_night {
        font-size: 13px;
        color: $greyColor;
        margin-bottom: 6px;
    }
    .info {
        font-size: 13px;
        color: $greyColor;
    }
    &:hover {
        box-shadow: 0 3px 20px rgba(147,144,144,.28)
    }
}

.tabs { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    &__wrapper {
        display: flex;
    }    
}

.cancel, .tab {
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, .25);
    border-radius: 5px;
    padding: 9px 20px;
    margin-right: 15px;
    font-size: 18px;
    color: $liteColor;
    background-color: $liteBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab { 
    &.active {
        background-color: $blueColor;
        color: #fff;
    }
}

.cancel {
    margin-right: 0;
}

